/*
 🔹 Navbar asosiy */
 /* 🔹 Navbar asosiy */
 header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.navbar {
  width: 98%;

  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 40px 0px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
padding:20px 0px  ;
}
.navbar1{
  width:95%;
  display: flex;
  justify-content: space-between;
padding-top: 20px;
}

/* 🔹 Linklar joylashuvi */
.nav-links {
  display: flex;
  gap: 40px;
}

/* 🔹 Har bir nav-item */
.nav-item {
  position: relative;
  font-size: 20px;
}
.nav-item a{
  text-decoration: none;
  color: #333;
}




.nav-item a:hover,
.nav-item a.active {
  color: #f47b45;
}

/* 🔹 Dropdown menyu */






/* 🔹 Button */
.btn {
  background: #f47b45;
  color: #fff;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #e35e24;
  transform: translateY(-2px);
}
